dotnet/MiniWcf/MiniWcf/Connected Services/ServiceReference1/Tst.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Tst" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62100/Tst.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62100/Tst.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62100/Tst.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITst_CalculateSI_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSI" />
  </wsdl:message>
  <wsdl:message name="ITst_CalculateSI_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSIResponse" />
  </wsdl:message>
  <wsdl:message name="ITst_GetRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordList" />
  </wsdl:message>
  <wsdl:message name="ITst_GetRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITst">
    <wsdl:operation name="CalculateSI">
      <wsdl:input wsaw:Action="http://tempuri.org/ITst/CalculateSI" message="tns:ITst_CalculateSI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITst/CalculateSIResponse" message="tns:ITst_CalculateSI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITst/GetRecordList" message="tns:ITst_GetRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITst/GetRecordListResponse" message="tns:ITst_GetRecordList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITst" type="tns:ITst">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateSI">
      <soap:operation soapAction="http://tempuri.org/ITst/CalculateSI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordList">
      <soap:operation soapAction="http://tempuri.org/ITst/GetRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tst">
    <wsdl:port name="BasicHttpBinding_ITst" binding="tns:BasicHttpBinding_ITst">
      <soap:address location="http://localhost:62100/Tst.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>